:root {
    --p-color: #727272;
    --btn-color: #FF900E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


   /* --------------------------- heading section start-------------------------------------------*/ 
.header {
    background: rgba(255, 144, 14, 0.1);

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;

}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-bar ul a {
    text-decoration: none;
    color: var(--p-color);
}

/* heading description sections */
.heading-description {
    width: 800px;
    margin: 30px auto;
    text-align: center;

}

.heading-title {
    font-size: 60px;
    text-align: center;
    margin: 30px 0px;
    font-weight:700;

}
.heading-description p{
    color: var(--p-color);
}
.heading-btn{
    margin: 20px 0;
}
.btn{
    color: white;
    border: none;
    background-color: var(--btn-color);
    height: 70px;
    width: 180px;
    border-radius: 8px;
    font-size: 20px;
}
.btn:hover{
   transform: scale(.98) rotate(1deg);
   transition: transform 1s linear;
}

/* banner image sections */
.banner-container{
    width: 80%;
    margin:0 auto;
    padding-bottom: 20px;
   
}
.banner-container img{
    width: 100%;
  
}
/* --------------------------- heading section end-------------------------------------------*/ 


/* --------------------------- main section start-------------------------------------------*/ 
.main{
    width: 100%;
}

/* ==========  Section -1  ========== */
.section-1{
    width: 75%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: var(--p-color);
    margin: 0 auto;
    padding: 60px 0;
   
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  
}
.image-container img{
    width: 300px;
}


/* ==========  Section -2  ========== */
.section-2{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px auto;
}
.section-2-description h2{
    border-left: 5px solid var(--btn-color);
    font-size: 40px;
}
.section-2-description p{
    color: var(--p-color);
    margin: 10px 0;
}
.section-2-image img{
    width: 100%;

}
.card{
    box-shadow: 3px 3px 8px rgb(226, 224, 224);
    margin: 10px 0;
    padding: 20px;
}
.card h3{
    margin: 10px 0;
}

.big-btn-1{
    position: absolute;
    top: 80%;
    left: 50%;
}
.big-btn{
    color: rgb(255, 255, 255);
    border: none;
    background-color: var(--btn-color);
    height: 140px;
    width: 240px;
    border-radius: 8px;
    padding: 20px 30px;
    font-size: 20px;

}

/* ==========  Section -3  ========== */
.section-3{
    width: 80%;
    margin: 30px auto;
}
.section-3-description{
    width: 50%;
    margin: 20px 0;
}
.section-3-description h1{
    margin: 20px 0;
}
.section-3-description p{
   color: var(--p-color);
}
.stat-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.stat{
    border: 1px solid var(--btn-color);
    border-radius: 8px;
  
    width: 240px;
    height: 240px;
    color: rgb(67, 66, 66);
}
.stat:hover{
    border-radius: 8px;
    color: rgb(50, 50, 50);
    transform:rotate(2deg) scale(.9);
    transition: transform .5s linear;
}
.stat img{
    margin: 30px 0;
}
.stat h1{
    margin: 10px 0;
    font-size: 700;
}

/* sponsor sections  */
/* ==========  sponsor section  ========== */
.sponsor-section{
    width: 80%;
  margin: 30px auto;
}
.sponsor-description{
    width: 40%;
    text-align: center;
    margin: 30px auto;
}
.sponsor-description h1{
    margin: 15px 0;
}
.sponsor-description p{
 color: var(--p-color);
 margin: 40px 0;
}

/* sponsors logos sections */

.sponsor-logos{
    display: flex;
    gap: 80px;
   
   
 
}
.logo{
    filter: grayscale(100%);
}
.logo:hover{
    filter: grayscale(0%);
}
.sponsor-logos img{
    width: 100%;
    
  
 
}
/* ========== support section  ========== */

.support-section{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}
.support-section p{
   color: var(--p-color);
   margin: 20px 10px;
   font-size: 14px;
}
.fa-icons{
    font-size: 40px;
    margin: 30px 0;
    color: var(--btn-color);
}

.support-boxs{
    display: flex;
    gap: 20px;
}
.support-box{
    box-shadow:3px 3px 8px rgb(197, 192, 192);
    border-radius: 5px;
    width: 45%;
}
.support-box:hover{
    box-shadow:inset 3px 3px 8px rgb(197, 192, 192);
    transform:scale(.94);
    transition: transform .5s linear;
}
/* --------------------------- Main section end-------------------------------------------*/ 

/* --------------------------- footer section start-------------------------------------------*/ 
footer{
    background: #FFF4E7;
    padding: 40px 0;
  
}
footer p{
    color: var(--p-color);
    text-align: center;
}
/* --------------------------- footer section end-------------------------------------------*/ 
/* media queries sections  */



@media only screen and (max-width:576px) {
     /* --------------------------- heading section -------------------------------------------*/ 

    .nav-bar,.nav-bar ul ,
    .section-1{
        flex-direction: column;
    }

    .nav-bar{
        gap: 20px;
    }
    .heading-description{
        width: 100%;
        padding: 15px;
       
    }
    .heading-title{
        font-size: 50px;
        margin-top: -40px;
    }


     /* -----------------------------sections 1 styles -------------------------------------------*/ 
    .section-1{
        width: 90%;
        
    }
    .image-container {
        grid-template-columns: repeat(1,1fr);
    }
    
   
     /* ----------------------------- sections-2 styles--------------------------------------------*/ 
    .section-2 {
        grid-template-columns: repeat(1,1fr);
    }
    .big-btn-1 {
        position:static;
        margin: 0 auto;
    }
     /* -----------------------------section-3 styles---------------------------------------------*/ 
    .section-3-description{
        width: 100%;
    }
    .stat-container{
        flex-direction: column;
        gap: 10px;
    }
      /* ----------------------------- sponsor section styles---------------------------------------------*/ 
    .sponsor-description{
        width: 100%;
    }
    .sponsor-logos{
        flex-direction: column;
    }
    .logo{
        width: 60%;
        margin: 0 auto;
    }
   
  /* ----------------------------- support section styles---------------------------------------------*/ 
  
.support-boxs{
        flex-direction: column;
    }
    .support-box {
        width: 100%;
    }

}
/* ----------------------------- The End---------------------------------------------*/