:root {
    --p-color: #727272;
    --btn-color: #FF900E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header sections */
.header {
    background: rgba(255, 144, 14, 0.1);

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;

}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-bar ul a {
    text-decoration: none;
    color: var(--p-color);
}

/* heading description sections */
.heading-description {
    width: 862px;
    margin: 30px auto;
    border: 1px solid green;
    text-align: center;

}

.heading-title {
    font-size: 60px;
    text-align: center;
    margin: 30px 0px;
    font-weight:700;

}
.heading-description p{
    color: var(--p-color);
}
.heading-btn{
    margin: 20px 0;
}
.btn{
    color: white;
    border: none;
    background-color: var(--btn-color);
    height: 70px;
    width: 180px;
    border-radius: 8px;
    font-size: 20px;
}

/* banner image sections */
.banner-container{
    width: 80%;
    margin:0 auto;
    padding-bottom: 20px;
   
}
.banner-container img{
    width: 100%;
  
}

/* main sections start from here */
.main{
    width: 100%;
}
.section-1{
    width: 75%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: var(--p-color);
    margin: 0 auto;
    padding: 60px 0;
   
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    /* align-items: center;
    justify-content: center; */
}
.image-container img{
    width: 300px;
}

/* .section-2 start here  */
.section-2{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px auto;
}
.section-2-description h2{
    border-left: 2px solid var(--btn-color);
    font-size: 40px;
}
.section-2-description p{
    color: var(--p-color);
    margin: 10px 0;
}
.section-2-image img{
    width: 100%;

}
.card{
    box-shadow: 3px 3px 8px rgb(226, 224, 224);
    margin: 10px 0;
    padding: 20px;
}
.card h3{
    margin: 10px 0;
}

.big-btn-1{
    position: absolute;
    top: 85%;
    left: 50%;
}

/* section 3 start here */
.section-3{
    width: 80%;
    margin: 30px auto;
}
.section-3-description{
    width: 50%;
    margin: 20px 0;
}
.section-3-description h1{
    margin: 20px 0;
}
.section-3-description p{
   color: var(--p-color);
}
.stat-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.stat{
    border: 1px solid var(--btn-color);
    border-radius: 8px;
  
    width: 240px;
    height: 240px;
    color: rgb(67, 66, 66);
}
.stat:hover{
    border-radius: 8px;
    color: rgb(50, 50, 50);
    transform:rotate(2deg) scale(.9);
    transition: transform .5s linear;
}
.stat img{
    margin: 30px 0;
}
.stat h1{
    margin: 10px 0;
    font-size: 700;
}